<div class="greybox">
<form >
    <div class="form-group">
        <h1>School</h1>
        <span class="label label-danger" data-ng-show="submitted &amp;&amp; helpForm.name.$error.required" style="display: none;">Required!</span>
        <select  class="input-text" name="school" ng-model="student.school" placeholder="Select School" ng-options="obj.schoolId as obj.schoolName for obj in myForm.schools" ></select>
    </div>

    <div class="form-group">
        <h1>Student Standard</h1>
        <select   class="input-text" name ="standard" ng-model="student.standard" placeholder="Enter Standard" ng-options="obj.id as obj.name for obj in myForm.standards"> </select>
    </div>

    <div class="form-group">
        <h1>Student Name</h1>
        <input  class="input-text" type="text" name="name" ng-model="student.name" placeholder="Enter Name" />
     </div>


   <div class="form-group">
       <button  class="input-text" ng-click="save()" class="btn-primary">Save</button>
    </div>
</form>
    </div>
