
<div class="greybox"><form >
    <div class="form-group">
        <h1>School</h1>
        <input type="text" name="name" ng-model="student.school" disabled />
    </div>

    <div class="form-group">
        <h1>Student Standard</h1>
        <input type="text" name="name" ng-model="student.standard" disabled />
    </div>

    <div class="form-group">
        <h1>Student Name</h1>
        <input type="text" name="name" ng-model="student.name" disabled />
     </div>


   <div class="form-group">
       <button class="input-text" ng-click="payFee()" class="btn-primary">Pay</button>
    </div>
</form>
</div>